.registerLabel{
    color: black;
}
.errorDiv {
    border:1px solid darkred;
    background-color: red;
    color: white;
    
}

.registerP{
    color: black;
    float: left;
    margin-top: 20px
}